html {
    height: 100%;
    width: 100%;
    background-image: url("/images/bg-pattern-top-desktop.svg"), url("/images/bg-pattern-bottom-desktop.svg");
    background-position: left top, right bottom;
    background-repeat: no-repeat, no-repeat;
    font-family: 'Spartan';
    font-size: 15px;
}