html {
    height: 100%;
    width: 100%;
    background-image: url("/images/bg-pattern-top-desktop.svg"), url("/images/bg-pattern-bottom-desktop.svg");
    background-position: left top, right bottom;
    background-repeat: no-repeat, no-repeat;
    font-family: 'Spartan', sans-serif;
    font-size: 15px;
}

.container {
    height: 100%;
    width: 100%;
}

.first-half {
    display: flex;
}

.description {
    width: 50%;
}

.description-top {
    font-weight: 700;
}

.description-down {

}

.rating {
    width: 50%;
}

.review {
    display: flex;
    flex-wrap: row;
}

.attribution {
    position: absolute;
    font-size: 11px;
    color: hsl(228, 45%, 44%);
    left: 50%;
    transform: translateX(-50%);
    bottom: 5%;
}